/*---------------------------*-------------------------*---------------------------  Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
/*
    font-family: 'Oswald', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
*/

/*---------------------------*-------------------------*---------------------------  Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*---------------------------*-------------------------*---------------------------  General Styles */
:root {
  font-size: 62.5%;

  /* ----------*------------*------------ Website Theme */
  --color-primary: hsl(0, 0%, 100%);

  --color-secondary: hsl(0, 0%, 11%);
  --color-secondary-m: hsl(0, 0%, 11%, 0.4);

  --color-tertiary: hsl(0, 0%, 17%);
  --color-quaternary: hsl(0, 1%, 50%);

  /*----------*----------*----------* Padding */
  /*
      --------------------- Sizing Nature
      d     = dynamic
      st    = static

      --------------------- Sizing

      l     = large
      m     = medium
      s     = small
      xs    = extra small
      c     = customized


      --------------------- Orientation
      v  = vertical   (top & bottom)
      h  = horizontal (right & left)
*/

  /* Dynamic */
  --padding-d-l-v: calc(2rem + 12vh);
  --padding-d-l-h: calc(2rem + 12vw);

  --padding-d-mc-v: calc(1rem + 4vh);
  --padding-d-mc-h: calc(1rem + 4vw);

  --padding-d-m-v: calc(1rem + 2vh);
  --padding-d-m-h: calc(1rem + 2vw);

  --padding-d-s-h: calc(1rem + 1vw);
  --padding-d-s-v: calc(1rem + 1vh);

  /* Static */
  --padding-st-l-h: 3rem;
  --padding-st-l-v: 2rem;

  --padding-st-m-h: 2.5rem;
  --padding-st-m-v: 1.5rem;

  --padding-st-s-h: 2rem;
  --padding-st-s-v: 1rem;

  /*----------*----------*----------* Typography */

  /*
    --------------------- Sizing Nature
    d     = dynamic
    st    = static

    --------------------- Sizing
    xl    = extra large
    l     = large
    m     = medium
    s     = small
    xs    = extra small
    c     = customized

    --------------------- Family
    font-family: 'Oswald', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;


/* Dynmaic */
  --font-size-d-lc: calc(3rem + 3.5vw);
  --font-size-d-l: calc(2rem + 3vw);
  --font-size-d-mc: calc(2rem + 2.5vw);
  --font-size-d-m: calc(1rem + 2vw);
  --font-size-d-sc: calc(1rem + 1.5vw);
  --font-size-d-s: calc(1rem + 1vw);

  /* Static */
  --font-size-st-xl: 4rem;
  --font-size-st-lc: 3.5rem;
  --font-size-st-l: 3rem;
  --font-size-st-mc: 2.5rem;
  --font-size-st-m: 2rem;
  --font-size-st-sc: 1.5rem;
  --font-size-st-s: 1rem;

  /* Family */
  --font-family-title: "Oswald", sans-serif;
  --font-family-content: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--color-primary);
  font-family: var(--font-family-content);
  line-height: 1.6;
}

a {
  text-decoration: none;
  border-radius: 1rem;
}

li {
  list-style: none;
}

/*----------*----------*----------*----------*---------- Utility Classes */

/*----------*----------*----------* Section Padding */
.section__padding {
  padding: var(--padding-d-l-v) var(--padding-d-l-h);
}

/*----------*----------*----------* Section Title */
.section__title {
  font-size: var(--font-size-d-sc);
  font-weight: 900;
}

/*----------*----------*----------* Section Para */
.section__para {
  font-size: var(--font-size-st-sc);
  color: var(--color-quaternary);
}

/*----------*----------*----------*----------*---------- Overall Layout */

.container {
  display: grid;
  grid-template-columns:
    [container-start] repeat(12, minmax(min-content, 12.5rem))
    [container-end];

  grid-template-rows: repeat(9, min-content);
  justify-content: center;
}

.overall-layout {
  grid-column: container-start / container-end;
}

/*----------*----------*----------*----------*---------- Header section */
.header {
  background-color: var(--color-secondary);
  padding: var(--padding-d-m-v) var(--padding-d-l-h);
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -49.5rem;
  width: 100%;
  height: 50rem;
  background-color: var(--color-secondary);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 90%, 0 0);
  z-index: -1;
}

.header__logo {
  font-size: var(--font-size-st-m);
  color: var(--color-primary);
}

.header__nav {
  display: flex;
  gap: 3rem;
}

.header__nav--link {
  font-size: var(--font-size-st-sc);
  color: var(--color-quaternary);
  transition: all 0.2s ease-in-out;
}

.header__nav--link:first-child {
  color: var(--color-primary);
}

.header__nav--link:hover {
  color: var(--color-primary);
}

/*----------*----------*----------*----------*---------- Hero section */
.hero {
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 90%;
  z-index: -1;
}

.hero__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  gap: 3rem;
}

.hero__content--mini-title {
  font-size: var(--font-size-st-sc);
  color: var(--color-primary);
}

.hero__content--title {
  font-size: var(--font-size-d-l);
  color: var(--color-primary);
  text-transform: uppercase;
}

.hero__content--para {
  font-size: var(--font-size-st-m);
  color: var(--color-primary);
}

.hero__content--links {
  display: flex;
  gap: 2rem;
}

.hero__content--links__my-works,
.hero__content--links__contact {
  flex-basis: 30%;
  padding: var(--padding-st-s-v) var(--padding-st-m-h);
  border-radius: 5rem;
  font-size: var(--font-size-st-sc);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.hero__content--links__my-works {
  border: 1px solid transparent;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.hero__content--links__my-works:hover {
  background: none;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.hero__content--links__contact {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.hero__content--links__contact:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/*----------*----------*----------*----------*---------- Personal Info section */
.personal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
.personal-info__content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.personal-info__content--experience {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.personal-info__content--experience div {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.personal-info__content--experience div i {
  font-size: var(--font-size-st-sc);
  padding: var(--padding-st-s-v);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 50%;
}
.personal-info__img {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.personal-info__img::before,
.personal-info__img::after {
  content: "";
  position: absolute;
  z-index: -1;
}
.personal-info__img::before {
  top: -7%;
  left: 14%;
  width: 50%;
  height: 50%;
  background-image: url("images/dot.png");
}
.personal-info__img::after {
  top: 5%;
  right: -5%;
  height: 100%;
  width: 80%;
  background-color: var(--color-secondary);
}
.personal-info__img img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  transition: all 0.25s ease-in-out;
}
.personal-info__img img:hover {
  transform: scale(0.95);
}
