/*---------------------------*-------------------------*---------------------------  Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
/* 
    font-family: 'Oswald', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
*/

/*---------------------------*-------------------------*---------------------------  Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*---------------------------*-------------------------*---------------------------  General Styles */
:root {
  font-size: 62.5%;

  /* ----------*------------*------------ Website Theme */
  --color-primary: hsl(0, 0%, 100%);

  --color-secondary: hsl(0, 0%, 11%);
  --color-secondary-m: hsl(0, 0%, 11%, 0.4);

  --color-tertiary: hsl(0, 0%, 17%);
  --color-quaternary: hsl(0, 1%, 50%);

  /*----------*----------*----------* Padding */
  /* 
      --------------------- Sizing Nature
      d     = dynamic
      st    = static

      --------------------- Sizing

      l     = large
      m     = medium
      s     = small
      xs    = extra small
      c     = customized

        
      --------------------- Orientation
      v  = vertical   (top & bottom)
      h  = horizontal (right & left)
*/

  /* Dynamic */
  --padding-d-l-v: calc(2rem + 12vh);
  --padding-d-l-h: calc(2rem + 12vw);

  --padding-d-mc-v: calc(1rem + 4vh);
  --padding-d-mc-h: calc(1rem + 4vw);

  --padding-d-m-v: calc(1rem + 2vh);
  --padding-d-m-h: calc(1rem + 2vw);

  --padding-d-s-h: calc(1rem + 1vw);
  --padding-d-s-v: calc(1rem + 1vh);

  /* Static */
  --padding-st-l-h: 3rem;
  --padding-st-l-v: 2rem;

  --padding-st-m-h: 2.5rem;
  --padding-st-m-v: 1.5rem;

  --padding-st-s-h: 2rem;
  --padding-st-s-v: 1rem;

  /*----------*----------*----------* Typography */

  /* 
    --------------------- Sizing Nature
    d     = dynamic
    st    = static
    
    --------------------- Sizing
    xl    = extra large
    l     = large
    m     = medium
    s     = small
    xs    = extra small
    c     = customized
    
    --------------------- Family
    font-family: 'Oswald', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;


/* Dynmaic */
  --font-size-d-lc: calc(3rem + 3.5vw);
  --font-size-d-l: calc(2rem + 3vw);
  --font-size-d-mc: calc(2rem + 2.5vw);
  --font-size-d-m: calc(1rem + 2vw);
  --font-size-d-sc: calc(1rem + 1.5vw);
  --font-size-d-s: calc(1rem + 1vw);

  /* Static */
  --font-size-st-xl: 4rem;
  --font-size-st-lc: 3.5rem;
  --font-size-st-l: 3rem;
  --font-size-st-mc: 2.5rem;
  --font-size-st-m: 2rem;
  --font-size-st-sc: 1.5rem;
  --font-size-st-s: 1rem;

  /* Family */
  --font-family-title: "Oswald", sans-serif;
  --font-family-content: "Plus Jakarta Sans", sans-serif;
}
